<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Signup</title>
</head>
<body>
    <h1>Bookmark Saver!</h1>
        <form action="/user/" method="post">
            <label for="userName">User Name:</label>
            <input type="text" name="name" placeholder="Enter a Username">
                <br>
            <label for="password">Link</label>
            <input type="text" name="link" placeholder="Enter the link you want to save">
        </form>
    
</body>
</html>