<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Show One Working</h1>
    {{#each result}}
    <p>{{this.name}}</p>
    <p>{{this.link}}</p>
    <form action="/bookmark/{{id}}" method="POST">
    <button type="submit" name="delete">Delete</button>
    {{!-- <input type="submit" value="delete"> --}}
    </form>
    {{/each}}
</body>
</html>