<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title> {{ title }}</title>
</head>
<body>
    <h1>Bookmark Saver</h1>
    {{page}}
    <ul>
        {{!-- <li><a href="/user/new">Sign up</a></li>
        <li><a href="#">Log in</a></li> --}}
    <li><form action="/user/new" method="GET">
        <button type="submit" name="newUser">Sign Up</button>
        </form></li>
    {{!-- <li><form action="/bookmark/new" method="GET">
        <button type="submit" name="new">New Bookmark</button>
        </form></li> --}}
    </ul>
    <p>Go to /bookmark to see the bookmark list</p>
</body>
</html>