li {
    list-style-type: none;
    padding: 15px;
    font-size: 15px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: tan;
}

h1 {
    text-align: center;
}